tag7/dialog2.py
tag8/designer_location.py
tag8/gui.ui
tag8/gui2.ui
tag8/gui3.ui
tag8/Kapitel_08.pdf
tag8/mygui.py
tag8/mygui2.py
tag8/mygui3.py
tag8/umrechner.py
tag8/webbrowser-np.py
tag8/webbrowser.py
tag8/webbrowser.ui
tag8/designer_location.py
tag8/gui.ui
tag8/gui2.ui
tag8/gui3.ui
tag8/Kapitel_08.pdf
tag8/mygui.py
tag8/mygui2.py
tag8/mygui3.py
tag8/umrechner.py
tag8/webbrowser-np.py
tag8/webbrowser.py
tag8/webbrowser.ui
uebung-7-nadjapfister
uebung-7-nadjapfister
tag7/dialog2.py
tag7/dialog2.py
.gitignore
Exponentialfunktion_2d.png
Exponentialfunktion_3d.png
uebung-7-nadjapfister
tag7/dialog2.py
.gitignore
uebung-7-nadjapfister
tag7/dialog2.py
.gitignore
uebung-7-nadjapfister
